.progressBar{
  display: flex;
  align-items: center;
}
.progress-bar {
  width: 100%;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #6c8cd7;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.progress-bar-label {
  padding-right:10px ;
  font-weight: 400;
  color: #6c8cd7;
}